.reviews-section {
    padding-top: 137px;
    padding-bottom: 160px;
    text-align: center;
}
.reviews-section-img {
    display: inline-block;
    margin-bottom: 34px;
}
.reviews-section-title {
    margin-bottom: 11px;
    color: #333333;
    font-family: $secondary-font;
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
}
.reviews-section-title-img {
    display: inline-block;
    margin-bottom: 42px;
}
.reviews-section-text {
    margin-bottom: 50px;
    color: #1a1f3b;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.8;
}
.reviews-section-text-subscr {
    margin-bottom: 19px;
    color: #1a1f3b;
    font-family: $secondary-font;
    font-style: italic;
    font-size: 41px;
    font-weight: 400;
    line-height: 1.09;
}
.reviews-section-text-img {
    display: inline-block;
}